@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Permanent+Marker&display=swap');


body {
    background-image: url('https://i.postimg.cc/631HfggM/background-concept.jpg');
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    overflow-x: hidden;
  }

.container{
    background-color: black;
    box-shadow: 0 20px 30px rgba(0,0,0,0.2);
    backdrop-filter: blur(10px);
    min-width: 100vw;
    font-family: 'Dancing Script', cursive;
    font-family: 'Permanent Marker', cursive;
  }

  .about-container {
    height: auto;
    background-color: black;
    box-shadow: 0 20px 30px rgba(0,0,0,0.2);
    backdrop-filter: blur(10px);
    padding-top: 50px;
   
  }


.about {
  color: rgba(255, 255, 0, 0.756);
  padding: 60px;
  font-family: 'Dancing Script', cursive;
  font-family: 'Permanent Marker', cursive;
}

  .navbar-nav {
    margin-left: auto;
}

.text {
  font-family: 'Dancing Script', cursive;
  font-family: 'Permanent Marker', cursive;
  color: yellow;
  padding: 50px;
}

.marvel {
  height: 100vh;
  background-color: transparent;
  box-shadow: 0 20px 30px rgba(0,0,0,0.2);
  backdrop-filter: blur(10px);
  font-family: 'Dancing Script', cursive;
  font-family: 'Permanent Marker', cursive;
  text-align: center;
}

.dc {
  height: 100vh;
  background-color: transparent;
  box-shadow: 0 20px 30px rgba(0,0,0,0.2);
  backdrop-filter: blur(10px);
  font-family: 'Dancing Script', cursive;
  font-family: 'Permanent Marker', cursive;
  text-align: center;
}