@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Permanent+Marker&display=swap');


body {
    background-image: url('https://i.postimg.cc/52S6rgm3/graf.jpg');
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    overflow-x: hidden;
  }

.container{
    background-color: black;
    box-shadow: 0 20px 30px rgba(0,0,0,0.2);
    backdrop-filter: blur(10px);
    min-width: 100vw;
    font-family: 'Dancing Script', cursive;
    font-family: 'Permanent Marker', cursive;
  }

  .about-container {
    height: auto;
    background-color: black;
   
  }

.about {
  color: rgba(255, 255, 0, 0.756);
  padding: 60px;
  font-family: 'Dancing Script', cursive;
  font-family: 'Permanent Marker', cursive;
}

  .navbar-nav {
    margin-left: auto;
}

.brand {
    height: 45rem;
    width: 100%;
    max-width: 45rem;
    padding: 70px;
}
